<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Add Course</title>
</head>
<body>
	<table class="table">
	<header lang="en" th:replace="fragments/header :: header"></header>
		<div id="container" class="align-center">
			
			<form th:action="@{/add_course}" th:object="${course}" method="post">
				<h3>Enter Course ID and Course Name</h3>
				</br>
				<input class="c-id-ip" type="text" placeholder="course name" th:field="*{courseName}">
				</br>
				<input class="c-id-ip"  type="text" placeholder="course description"
					th:field="*{courseDescription}">
					</br>
				<button type="submit">submit</button>
				</br>
				<label>
					<h1 th:text="${message}"></h1>
				</label>
			</form>
		</div>
	</table>
</body>
</html>
