image: gradle:alpine

stages:
    - prod

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  GIT_STRATEGY: clone

# this will run before script
before_script:
  - chmod +x ./gradlew
  - export GRADLE_USER_HOME=`pwd`/.gradle

build:
  stage: build
  tags:
    - grad
  script: ./gradlew --build-cache assemble
  only:
  - develop
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle


test:
  stage: test
  tags:
    - grad
  script: ./gradlew check
  only:
  - develop
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
      - .gradle

deploy:
    stage: deploy
    tags:
    - dalfcs_gitlab_docker_ci
    image: ruby:2.3
    script:
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
    - dpl --provider=heroku --app=$HEROKU_APP_TEST --api-key=$HEROKU_API_KEY
    only:
    - develop


prod:
    type: deploy
    stage: prod
    image: ruby:latest
    tags: 
     - dalfcs_gitlab_docker_ci
    script:
        - dpl --provider=heroku --app=$HEROKU_APP_PROD --api-key=$HEROKU_API_KEY_PROD
    only:
        - master