<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Course Admin Page</title>
</head>
<body>
<form th:action="@{/CourseAdminDetails}" method="post">
   <p>Enter Banner ID: </p><input type="text" name="bannerID" />
   <input type="hidden" name="courseID" th:value="${courseID}"/>
   <input type="submit">
</form>   

<div th:if="${taInfo==null} and ${display==1}">
   <p>Either no user exists or <span th:text="${bannerID}"/> is currently Student/TA of Course:<span th:text="${courseID}"/></p>
</div>
<div th:if="${taInfo!=null}  and ${display==1}">
   <form th:action="@{/CourseTAEnrolled}" method="post">
   <input type="hidden" name="courseID" th:value="${courseID}"/>
   <input type="hidden" name="bannerID" th:value="${bannerID}"/>
   <p>Do you want to enroll <span th:text="${taInfo}"/> as TA of Course:<span th:text="${courseID}"/></p><input type="submit" value="Enroll"/>
    
</form>
</div>
<div th:if="${enrolledTA==true} and ${display==2}">
   <p>Successfully enrolled <span th:text="${bannerID}"/> as TA of Course:<span th:text="${courseID}"/></p>
</div>
<div th:if="${enrolledTA==false} and ${display==2}">
   <p>Error while enrolling TA</p>
</div>

</body>
</html>