<header th:fragment="header">
	<link href="../../static/groupToolAdmin.css"
		th:href="@{groupToolAdmin.css}" rel="stylesheet" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/admin_home_page}">Group
				Formation Tool</a> <a class="navbar-brand"
				th:href="@{/assign_instructor_page}">Add Instructor</a> <a
				class="navbar-brand" th:href="@{/delete_course}">Delete Course</a> <a
				class="navbar-brand" th:href="@{/add_course_page}">Add Course</a>
		</div>
	</nav>
</header>