<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Delete Course Page</title>
</head>
<body>

	<div id="container">
	<div lang="en" th:replace="fragments/header :: header"></div>
		<h2>View Courses</h2>
		<form th:if="${courseList.size() > 0}" action="#" th:action="@{/displayChecked}" method="POST">
			<table class="table">
				<thead>
					<tr>
						<th>Course Id</th>
						<th>Course Name</th>
						<th>Select</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="course : ${courseList}">
						<td><span th:text="${course.courseId}"> course Id </span></td>
						<td><span th:text="${course.courseName}"> course Name
						</span></td>
						<td><input type="checkbox" name="courseChecked"
							th:value="${course.getCourseId()}" /></td>
					</tr>
				</tbody>
			</table>
			<input type="submit" value="Submit" />
		</form>
		<label>
				<h3 th:text="${message}"></h3>
			</label>
</body>
</html>
