<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<title>SpringBasics</title>
</head>
<body>
	
<div class="container-fluid">


<div class="row justify-content-center" style="padding-top: 10%;">

 <div class="col-5 d-flex justify-content-center mx-auto" >
<div class="card w-75" >
<h4 class="card-header">Forgot password?</h4>
<div class="card-body">
<div  th:if="${generateotp.inValidUser}" style="background:gray;color: white;">
	Invalid BannerId. If you are not an existing user, please <a href="#" style="color: red;">sign up</a> <br>
	</div>
<form  th:action="@{/validateOTP}" th:object="${generateotp}" method="post">
  <div class="form-group">
    <input type="text" class="form-control" id="banner_id" aria-describedby="emailHelp"
     placeholder="BannerID" pattern="[Bb][0-9]{8}"  th:field="*{bannerId}">
    </div>
 

  <div class="row">
  	<div class="col">
  	  <button type="submit" class="btn btn-primary"  style="float: right;">Generate OTP?</button>
  	  </div>
  </div>
</form>
  </div>
</div>
</div> 
</div> 
</div>
</body>
</html>
