<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid">
<div class="row justify-content-center" th:if="${generateotp.mailSent || generateotp.inValidOtp || generateotp.timeExceeded || generateotp.passwordMismatch}" style="padding-top: 10%;">
<div class="col-5 d-flex justify-content-center mx-auto" >
<div class="card w-75" >
<h4 class="card-header" th:if="${generateotp.mailSent}" th:inline="text" >One-Time Password sent to your e-mail [[${generateotp.userEmail}]] </h4>
<h4 class="card-header" th:if="${generateotp.inValidOtp}">Invalid OTP. Please try again</h4>
<h4 class="card-header" th:if="${generateotp.timeExceeded}">OTP Expired. Please try again</h4>
<h4 class="card-header" th:if="${generateotp.passwordMismatch}">Passwords mismatch. Please try again</h4>

</div></div>
</div>
<div class="row justify-content-center" style="padding-top: 2%;" >
 <div class="col-5 d-flex justify-content-center mx-auto" >
<div class="card w-75" >
<h4 class="card-header">Reset Password</h4>
<div class="card-body">
<form th:action="@{/resetpassword}" th:object="${generateotp}" method="post">
  <div class="form-group">
    <input type="text" class="form-control"  placeholder="BannerID" th:field="*{bannerId}">
    </div>
    <div class="form-group">
    <input type="text" class="form-control"  placeholder="One-Time Password" th:field="*{opt}">
    </div>
  
  <div class="form-group">
    <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" >
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" placeholder="Confirm Password" th:field="*{confirmPassword}" >
  </div>
  <div class="row">
  	<div class="col">
  	  <button type="submit" class="btn btn-primary" style="float:right;">Confirm</button>
  	  </div>
  </div>
</form>

  </div>
</div>
</div> 
</div> </div>
</body>
</html>