<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>SpringBasics</title>
	<style>
        input { margin-bottom: 10px; }
    </style>
</head>
<body>
	
	<form action="#" th:action="@{/addUser}" th:object="${user}" style="border:1px solid #ccc" method="post">
	  <div class="container">
	    <h1>Sign Up</h1>
	    <p>Please fill in this form to create an account.</p>
	    <hr>
	    <table>
	    	<tr>
	    		<td><label for="fname"><b>First Name</b></label></td>
	    		<td><input type="text" th:field="*{firstName}" placeholder="Enter First Name" name="fname" required></td>
	    	</tr>
	    	<tr>
	    		<td><label for="lname"><b>Last Name</b></label></td>
	    		<td><input type="text" th:field="*{lastName}" placeholder="Enter Last Name" name="lname" required></td>
	    	</tr>
	    	<tr>
	    		<td><label for="email"><b>Email</b></label></td>
	    		<td><input type="text" th:field="*{email}" placeholder="Enter Email" name="email" required></td>
	    	</tr>
	    	<tr>
	    		<td><label for="bannerid"><b>Banner ID (B00)</b></label></td>
	    		<td><input type="text" th:field="*{bannerID}" placeholder="Enter Banner ID" name="bannerid" required></td>
	    	</tr>
	    	<tr>
	    		<td><label for="psw"><b>Password</b></label></td>
	    		<td><input type="password" th:field="*{password}" placeholder="Enter Password" name="psw" required></td>
	    	</tr>
	    </table>
	    <div class="clearfix">
	      <button type="submit" class="signupbtn">Sign Up</button>
	    </div>
	    <div th:switch="${msg}">
	    	<p th:case="'User Exists'" th:text="'User already exists. Try to login or create account with different B00'" />
	    	<p th:case="'Error'" th:text="'Error while adding user. Please try again.'" />
	    	<p th:case="'User Added'" th:text="'User added successfully. You may login now.'" />
	    	<p th:case="*" th:text="${msg}"/>
	    </div>
	  </div>
	</form>
	
</body>
</html>