<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head>
		<title>CSCI5308 - Group Formation Tool</title>
	</head>
	<body>
	  	<div sec:authorize="isAuthenticated()">
	       <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
	       <form th:action="@{/logout}" method="post">
	           <input type="submit" value="Sign Out"/>
	       </form>
		</div>
		
			<div><button th:style="'visibility:'+@{${QuestionSet}}" ><a th:href="@{/createquestions(isUserInstructor=${isUserInstructor})}">Add Question</a></button></div>
			<div><button th:style="'visibility:'+@{${QuestionSet}}" ><a th:href="@{/course/questionmanager(bannerID=${#httpServletRequest.remoteUser})}">View Questions</a></button></div>
		
		</div>
	</body>
</html>